Source: libfirtree
Section: universe/libs
Priority: optional
Maintainer: Rich Wareham <richwareham@gmail.com>
Build-Depends: cdbs, debhelper (>= 5), cmake, swig,
 doxygen, graphviz, flex, bison,
 libglew-dev, freeglut3-dev, libmagick++9-dev,
 libxmu-dev, libxi-dev, python2.5-dev,
 libglu1-mesa-dev | libglu-dev, libgl1-mesa-dev | libgl-dev
Standards-Version: 3.7.2

Package: libfirtree0
Section: universe/libs
Architecture: any
Depends: ${shlibs:Depends}
Description: The Firtree image processing library.
 Firtree is a general-purpose pipeline-based image processing toolkit centred
 around the application of develop specified 'filter kernels' to images.
 Firtree supports lazy, on-demand evaluation of image contents along with GPU
 acceleration if present.

Package: libfirtree0-dev
Section: universe/libdevel
Architecture: any
Depends: libfirtree0 (= ${binary:Version}),
 libglew-dev, freeglut3-dev, libmagick++9-dev,
 libxmu-dev, libxi-dev, python2.5-dev,
 libglu1-mesa-dev | libglu-dev, libgl1-mesa-dev | libgl-dev
Description: Development files for the Firtree image processing toolkit.
 Firtree is a general-purpose pipeline-based image processing toolkit centred
 around the application of develop specified 'filter kernels' to images.
 Firtree supports lazy, on-demand evaluation of image contents along with GPU
 acceleration if present.
 .
 This package contains all the headers and other related files needed
 to compile Firtree applications, or develop applications which use the
 Firtree libraries.
